*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
}

.colorDiv{
    height: 25vh;
    padding-top: 1em;
}

.colorDiv p{
    text-align: center;
    font-family: tahoma;
    font-size: 18px;
}

#div1{
    background-color: #FF0000;
}

#div2{
    background-color: #FF8800;
}

#div3{
    background-color: #FFFF00;
}